.play
  .game-ui
    .scoreboard
      .player1
        .turn-indicator.on= render "indicator.svg"
        .logo
          %span.logo-text C
        .name Carl Zulauf
        .score-led
          .score 0
      .player2
        .turn-indicator= render "indicator.svg"
        .logo D
        .name Dawn Claussen
        .score-led
          .score 1
      .progress
        .light-track
          - 3.times do
            .scoreboard-light.on.flicker= render "light.svg"
          - 7.times do
            .scoreboard-light= render "light.svg"
        .menu-overlay
          .menu-items
            .menu-link menu
            .exit-link exit
  .board
    - ((@game.height * 2) + 1).times do |row|
      - ((@game.width * 2) + 1).times do |col|
        - case [row % 2, col % 2]
        - when [0, 0]
          .dot
        - when [0, 1]
          .hline
        - when [1, 0]
          .vline
        - else
          .tile
