- set_body_class "game-body"

.game-main
  .game-menu
    .exit= link_to "Exit", game_path(@game), method: :delete, data: {confirm: "Are you sure you wish to exit and destroy this game?"}
    .restart Restart
    .players
      .player1 Player 1
      .player2 Player 2
    .status
      Current Player:
      .current-player
  .game-overlay
  .game
= init_game_js(@game)
