.main {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-flow: column;
}

.game-overlay {
  opacity: 0.5;
  height: 0;
  width: 0;
  margin: 0 auto;
  background-color: rgba(0,0,0,128);
  color: #fff;
  z-index: 3;
  transition: all 0.25s ease-in-out;

  &.in {
    height: 460px;
    margin-bottom: -485px;
    margin-top: 25px;
  }
}

.game-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 10px;

  .exit a:link, .exit a:visited {
    float: left;
    background-color: #e24444;
    color: #000;
    border-radius: 10px;
    padding: 5px 20px;
    margin-right: 10px;
    text-decoration: none;
  }

  .restart {
    float: left;
    background-color: #e2dd44;
    border-radius: 10px;
    padding: 5px 20px;
    cursor: pointer;
  }

  .player1 {
    color: white;
    float: left;
    margin-left: 20px;
    padding: 5px 20px;
    border: 2px solid black;
    background-color: #22aa22;
  }

  .player2 {
    color: white;
    float: left;
    margin-left: 5px;
    padding: 5px 20px;
    border: 2px solid black;
    background-color: #2222aa;
  }

  .status {
    float: left;
    margin-left: 5px;
    padding: 3px 20px;
    line-height: 20px;
    .current-player {
      display: inline-block;
      height: 25px;
      width: 50px;
      border: 2px solid black;
      margin-bottom: -10px;
      margin-left: 5px;
      &.current-player1 {
        background-color: #22aa22;
      }

      &.current-player2 {
        background-color: #2222aa;
      }
    }
  }
}

.game {
  display: flex;
  flex-flow: column;
  margin: 25px auto;

  .board-row {
    display: flex;
    flex-flow: row nowrap;

    .vertex {
      width:  2px;
      height: 2px;
      margin: -5px;
      background-color:  red;
      z-index: 2;
      border: 14px solid red;
      border-radius: 14px;
    }

    .hline {
      width: 80px;
      height: 18px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      background-color: black;
    }

    .vline {
      width: 18px;
      height: 80px;
      border-left: 1px solid black;
      border-right: 1px solid black;
      background-color: black;
    }

    .vline.open, .hline.open {
      background-color: #cccccc;
      &:hover {
        background-color: #999999;
        cursor: pointer;
      }
    }

    .vline.out, .hline.out {
      background-color: #ffffff;
    }

    .tile {
      width: 80px;
      height: 80px;
      background-color: #e8e8e8;

      &.player1 {
        background-color: #22aa22;
      }

      &.player2 {
        background-color: #2222aa;
      }
    }
  }
}
