@import "scoreboard";

$dot-color: #f00;
$dot-lowlight: #400;
$line-color: #505050;
$line-highlight: #666666;
$line-lowlight: #383838;
$line-hover: #222;
$line-disabled-border: #262626;
$line-disabled-bg: #060606;
$line-drawn: #fff;
$board-color: #000;
$bg-color: #222;
$tile-color: #000;
$player1-tile-color: #336666;
$player2-tile-color: #663333;

body.play {
  background-color: $bg-color
}

.game-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // display: grid;
  // grid-template-rows: auto 1fr;
  display: flex;
  flex-direction: column;
  // height: 100%;

  .board-container {
    background-color: $board-color;
    max-width: 900px;
    width: 100%;
    margin: 0 auto 0 auto;
    // border-radius: 5px;
    overflow: auto;
    flex-grow: 1;
  }

  .board {
    display: grid;
    // width: 100%;
    margin: 0 auto;
    padding: 40px 0 40px 0;

    .dot {
      width: 20px;
      height: 20px;
      margin: -4px;
      z-index: 2;
      border: 4px solid $dot-color;
      border-radius: 14px;
      background-color: $dot-lowlight;
    }

    .vline, .hline {
      background-color: $line-color;
    }

    .vline {
      width: 16px;
      height: 100%;
      border-left: 2px solid $line-highlight;
      border-right: 2px solid $line-lowlight;

    }

    .hline {
      height: 16px;
      width: 100%;
      border-top: 2px solid $line-highlight;
      border-bottom: 2px solid $line-lowlight;
    }

    .hline:hover, .vline:hover {
      cursor: pointer;
      background-color: $line-hover;
      border-color: $line-highlight;
    }

    .hline.disabled, .hline.disabled:hover, .vline.disabled, .vline.disabled:hover {
      background-color: $line-disabled-bg;
      border-color: $line-disabled-border;
      cursor: inherit;
    }

    .hline.drawn, .hline.drawn:hover, .vline.drawn, .vline.drawn:hover {
      background-color: $line-drawn;
      border-color: $line-drawn;
      cursor: inherit;
    }

    .tile {
      background: $tile-color;
      &.player1, &.player2 {
        color: white;
        text-shadow: -2px -2px 1px rgba(0,0,0,0.7), 2px  2px 1px rgba(0,0,0,0.7),
                     -2px  2px 1px rgba(0,0,0,0.7), 2px -2px 1px rgba(0,0,0,0.7);
        font-size: 335%;
        display: flex;
        justify-content: center;
      }
      &.player1 { background: $player1-tile-color; }
      &.player1::after { content: '1'; }
      &.player2 { background: $player2-tile-color; }
      &.player2::after { content: '2'; }
    }
  }

  .notifications {
    height: 0;
    z-index: 4;
    max-width: 900px;
    margin: 4px auto -4px auto;
    .notification {
      color: #f00;
      text-align: center;
      line-height: 1.5em;
      background: rgba(0,0,0,0.85);
      padding: 2px 10px;
      opacity: 0;
      &.in { opacity: 1; }
    }
  }
}
