@keyframes flickerLight {
  0%   { opacity: 0.95; }
  50%  { opacity: 0.95; }
  51%  { opacity: 0.20; }
  52%  { opacity: 0.80; }
  53%  { opacity: 0.40; }
  54%  { opacity: 1.00; }
  55%  { opacity: 0.95; }
  100% { opacity: 0.95; }
}

@font-face {
  font-family: "seg7";
  src: image-url("7seg.woff2") format("woff2"),
       image-url("7seg.woff") format("woff");
}

.play {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #222;

  .scoreboard {
    margin: 10px auto;
    background-color: #00713c;
    max-width: 900px;
    border: 3px solid white;
    border-radius: 5px;
    display: grid;
    grid-template-areas: "player1  player2"
                         "progress progress";
    // grid-template-rows: 80% 20%;
    grid-template-columns: 50% 50%;

    .player1 {
      grid-area: player1;
      grid-template-areas: "unused pname pname"
                           "turn-indicator logo score";
      grid-template-columns: 10% 40% 50%;
    }

    .player2 {
      grid-area: player2;
      grid-template-areas: "pname pname unused"
                           "score logo turn-indicator";
      grid-template-columns: 50% 40% 10%;
      .turn-indicator { transform: rotate(180deg); }
    }

    .player1, .player2 {
      display: grid;
    }

    .turn-indicator {
      grid-area: turn-indicator;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      // margin: 0px 5px;
      svg { height: 60px; }
    }
    .logo {
      grid-area: logo;
      // background-color: black;
      color: white;
      text-shadow: -1px -1px 4px rgba(255,255,255,0.3), 1px  1px 4px rgba(255,255,255,0.3),
                   -1px  1px 4px rgba(255,255,255,0.3), 1px -1px 4px rgba(255,255,255,0.3);
      // border-radius: 5px;
      // margin-right: 10px;
      font-size: 350%;
      // line-height: 100%;
      // vertical-align: middle;
      // text-align: center;
      // .logo-text {
      //   font-size: 100px;
      //   line-height: 120px;
      //   padding: 5px 5px;
      // }
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .score {
      grid-area: score;
      // text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "seg7";
      font-size: 400%;
      background-color: black;
      border-radius: 5px;
      color: white;
      margin: 0px 10px;
      padding: 5px 0px;
      // .score-text {
      //   background-color: black;
      //   border-radius: 5px;
      //   color: white;
      //   font-family: "seg7";
      //   padding: 10px 5px;
      //   font-size: 100px;
      //   line-height: 120px;
      // }
    }
    .name { grid-area: pname; }

    .progress {
      grid-area: progress;

      .light-track {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        background-color: #000;
        border-radius: 10px;
        margin: 10px;
        padding: 10px 5px;

        .scoreboard-light {
          height: 40px;
          svg {
            height: 100%;
          }
          opacity: 0.2;
          &.on {
            opacity: 0.95;
            animation: flickerLight 5s 1;
          }
        }
      }
    }
  }
}
